
@use "../utils/variable.scss";
@use "../utils/color.scss";
@use "../utils/mixins.scss";


.filtre {
    counter-reset: steps;
    padding: 2rem 1.5rem;
    
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style: none;
        padding: 0;
        @media (max-widh:1000px) {
            ul {
                flex-direction: column;
            }
        }
        
    }
    & li {
        cursor: pointer;
        position: relative;
        font-weight: 590;
        background-color: #f6f6f6;
        padding: 0.5rem 1rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow;
        &::before {
            content:""counter(steps);
            counter-increment: steps;
            color: white;
            background-color: color.$purple;
            width: 2 * variable.$base-height;
            height: 2 * variable.$base-height;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 50%;
            left:-1* variable.$base-height;
            transform: translateY(50%);
        }
        
        &:hover {
            @include mixins.transform-zoom;
            @include mixins.dark-shadow;
        }
        & i.fas {
            margin: 1rem ;
            color: grey;
            font-size: 1.5rem;
        
         }

}
}
