@use "../utils/color.scss";

footer {
    background-color: color.$color-footer;
    padding: 0 1rem 2rem 1rem ;
    color: white;
    h2 {
        font-weight: 100;
        font-size: 15px;
        font-family: "Shrikhand","sans-sherif";
        padding: 1rem 0;
    }
    p {
        padding:5px  0;
        font-size: 14px;
    }
    .fas {
        padding-right: 5px;
    }
}