@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0px;
}

h2 {
  padding: 1rem 0;
  margin: 0;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  box-shadow: 0 0 0.5rem grey;
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #dfdfdf;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

/*explorer*/
.explorer {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
.explorer h2 {
  font-size: 1.5rem;
  padding: 2rem 0;
}
.explorer p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 0.5rem;
  cursor: pointer;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 1px 8px -3px #000000;
  cursor: pointer;
}
.explorer button button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.filtre {
  counter-reset: steps;
  padding: 2rem 1.5rem;
}
.filtre ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
@media (max-widh: 1000px) {
  .filtre ul ul {
    flex-direction: column;
  }
}
.filtre li {
  position: relative;
  font-weight: 590;
  background-color: #f6f6f6;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.filtre li::before {
  content: "" counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  transform: translateY(50%);
}
.filtre li:hover {
  transform: scale(1.02);
}
.filtre li i.fas {
  margin: 1rem;
  color: grey;
  font-size: 1.5rem;
}

.cards {
  background-color: #f6f6f6;
  padding: 30px 15px;
}
.cards h2 {
  padding: 20px 0;
}
.cards .cards__acceuil {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1000px) {
  .cards .cards__acceuil {
    flex-direction: column;
  }
}
.cards .cards__acceuil .new {
  position: relative;
}
.cards .cards__acceuil .new::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #1b6150;
}
.cards .card {
  background-color: white;
  width: 45%;
  min-width: 280px;
  flex-grow: 1;
  box-shadow: 2px 1px 8px -3px #000000;
  border-radius: 1rem;
  /* margin: 25px;*/
}
@media (max-width: 1000px) {
  .cards .card {
    width: 100%;
  }
}
.cards .card__image {
  width: 100%;
  height: 150px;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.cards .card__image-1 {
  background-image: url("../../assets/card_acceuil1.jpg");
}
.cards .card__image-2 {
  background-image: url("../../assets/card_acceuil2.jpg");
}
.cards .card__image-3 {
  background-image: url("../../assets/card_acceuil3.jpg");
}
.cards .card__image-4 {
  background-image: url("../../assets/card_acceuil4.jpg");
}
.cards .card__description {
  padding: 10px 5px;
  position: relative;
}
.cards .card__description::before {
  color: black;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.cards .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgba(147, 121, 218, 0.9), rgba(255, 121, 218, 0.9));
  color: transparent;
  font-weight: 900;
}
.cards .card__description:hover::after {
  opacity: 1;
}
.cards .card__description:hover::after {
  transform: translateY(-50%) scale(1.1);
}
.cards .card h3,
.cards .card p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 0 1rem 2rem 1rem;
  color: white;
}
footer h2 {
  font-weight: 100;
  font-size: 15px;
  font-family: "Shrikhand", "sans-sherif";
  padding: 1rem 0;
}
footer p {
  padding: 5px 0;
  font-size: 14px;
}
footer .fas {
  padding-right: 5px;
}

.loader, .loader__back {
  position: fixed;
  inset: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading__back 3s linear;
  animation-fill-mode: forwards;
  background-color: #99e2d0;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader__back {
  position: fixed;
  inset: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading 3s linear;
  animation-fill-mode: forwards;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader__back::after {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 15px solid white;
  border-top-color: #353535;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.8;
    transform: rotate(90deg);
  }
  50% {
    opacity: 0.6;
    transform: rotate(160deg);
  }
  75% {
    opacity: 0.4;
    transform: rotate(280deg);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes loading__back {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes move {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menus {
  animation: move 3s ease;
  animation-fill-mode: forwards;
}
.menus:nth-child(1) {
  animation-delay: 300ms;
}
.menus:nth-child(2) {
  animation-delay: 600ms;
}
.menus:nth-child(3) {
  animation-delay: 900ms;
}
.menus:nth-child(4) {
  animation-delay: 1200ms;
}
.menus:nth-child(5) {
  animation-delay: 1500ms;
}

.items {
  animation: move 3s ease;
  animation-fill-mode: forwards;
}
.items:nth-child(1) {
  animation-delay: 100ms;
}
.items:nth-child(2) {
  animation-delay: 200ms;
}
.items:nth-child(3) {
  animation-delay: 300ms;
}
.items:nth-child(4) {
  animation-delay: 400ms;
}
.items:nth-child(5) {
  animation-delay: 500ms;
}

.check {
  height: 100%;
  background-color: #99e2d0;
  color: #99e2d0;
  width: 70px;
  display: grid;
  place-items: center;
  margin-right: -71px;
  font-size: 19px;
  transition: margin-right 0.5s;
}
.check > i {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.items:hover i {
  animation: check-turn 1s ease-in-out;
}
@keyframes check-turn {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.items:hover .check {
  margin-right: 0px;
}

header h1 {
  font-weight: 400;
  margin: 0;
}
header i {
  font-weight: 900;
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
header i:hover {
  transform: scale(1.5);
}

img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.container {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
.container .menus {
  width: 33%;
  padding: 0 15px;
}
@media (max-width: 1000px) {
  .container .menus {
    width: 100%;
  }
}
.container .menus__category {
  font-weight: 400;
  padding-left: 5px;
  text-transform: uppercase;
  margin-top: 35px;
}

.title-restaurant {
  margin-top: -40px;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 35px 35px 0 0;
}
.title-restaurant::before {
  color: black;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.title-restaurant::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgba(147, 121, 218, 0.9), rgba(255, 121, 218, 0.9));
  color: transparent;
  font-weight: 900;
}
.title-restaurant:hover::after {
  opacity: 1;
}
.title-restaurant > h2 {
  font-weight: 400;
  font-family: "shrikhand", cursive;
  padding: 15px;
  font-size: 1.2rem;
}

.items {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 15px;
  height: 85px;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px #000000;
}
.items__description {
  margin: 0;
  padding-left: 10px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items__description h4, .items__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 10px 0;
}
.items__tarifs {
  margin: 0 30px 0 0;
  font-weight: bold;
}

.menus__category > h3 {
  padding-bottom: 20px;
  position: relative;
  font-weight: 400;
}
.menus__category > h3::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}

.button-block {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
}
.button-block .button-btn {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 0.5rem;
  cursor: pointer;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 1px 8px -3px #000000;
}
.button-block .button-btn button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.img-heading > img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
