@use "../utils/color.scss";
@use "../utils/mixins.scss";

.check {
    height: 100%;
    background-color: color.$color-tertiary;
    color: color.$color-tertiary;
    width: 70px;
    display: grid;
    place-items: center;
    margin-right: -71px;
    font-size: 19px;
    transition: margin-right 0.5s;
    & > i {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        display: grid;
    place-items: center;
    }
}
.items {
    &:hover {
        i {
            @include mixins.check-turn;
            animation: check-turn 1s ease-in-out;
        }
        
        .check {
            margin-right: 0px;
        }
    }
}