

@use "../utils/color.scss";


.loader, .loader__back {
    position: fixed;
    inset:0;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loading__back 3s linear;
    animation-fill-mode: forwards;
    background-color:color.$color-tertiary;
    transition: opacity 0.75s, visibility 0.75s;
}   /*Fond du spinner */ 
.loader__back {
    animation: loading 3s linear;
    animation-fill-mode: forwards;
    transition: opacity 0.75s, visibility 0.75s;
    }
    

/*spinner*/
.loader__back::after {
    content: "";
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 15px solid white;
    border-top-color: color.$color-footer ;
    
}
/*disparition et rotation du spinner*/
@keyframes loading {
    
    
    0% {opacity: 1;transform: scale(1);
        transform: rotate(0deg); }
        
    25% {opacity: 0.8;
        transform: rotate(90deg); }
        
    50% {opacity: 0.6;
        transform: rotate(160deg); }
        
    75% {opacity: 0.4;
        transform: rotate(280deg); }
        
    99% {opacity: 0; transform: scale(1);}
    100% {opacity: 0;transform: scale(0);
        
        }
}
@keyframes loading__back {
    0% {opacity: 1;transform: scale(1);
     }
        
    25% {opacity: 0.8;
         }
        
    50% {opacity: 0.6;
         }
        
    75% {opacity: 0.4;
         }
        
    99% {opacity: 0; transform: scale(1);}
    100% {opacity: 0;transform: scale(0);
        
        }

}
